<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 playground">
      <app-test></app-test>
    </div>
    <div class="col-md-6 playground">
      <app-ana></app-ana>
    </div>
    <div class="col-md-6 playground">
      <app-andrea></app-andrea>
    </div>
    <div class="col-md-6 playground">
      <app-davor></app-davor>
    </div>
    <div class="col-md-6 playground">
      <app-denis></app-denis>
    </div>
    <div class="col-md-6 playground">
      <app-filip></app-filip>
    </div>
    <div class="col-md-6 playground">
      <app-goran></app-goran>
    </div>
    <div class="col-md-6 playground">
      <app-hrvoje></app-hrvoje>
    </div>
    <div class="col-md-6 playground">
      <app-ivan></app-ivan>
    </div>
    <div class="col-md-6 playground">
      <app-janko></app-janko>
    </div>
    <div class="col-md-6 playground">
      <app-maja></app-maja>
    </div>
    <div class="col-md-6 playground">
      <app-miroslav></app-miroslav>
    </div>
    <div class="col-md-6 playground">
      <app-nemanja></app-nemanja>
    </div>
    <div class="col-md-6 playground">
      <app-senkovic></app-senkovic>
    </div>
    <div class="col-md-6 playground">
      <app-zdravko></app-zdravko>
    </div>
  </div>
</div>